[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=OpenGL 03 - 01 Creating Contexts
Exec=/opt/usr/bin/01-createcontext
Icon=hellogl
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
